<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>DyVert</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-brand roboto-mono-nav-brand">
            <a class="navbar-brand" href="#">DyVert</a>
        </div>
        <div class="nav-links roboto-mono-nav-links">
            <ul class="links">
                <li><a th:href="@{/user/{id}/home/all(id=${userID})}">Home</a></li>
                <li>
                    <a th:href="@{/user/{id}/bucket(id=${userID})}">Bucket</a>
                </li>
                <li><a th:href="@{/creator/{id}/create(id=${userID})}">Creator</a></li>
                <li><a href="#" class="link-active">Admin</a></li> 
            </ul>
        </div>
        <div class="nav-profile-container">
            <form id="logout-form" action="/logout" method="post">
                <button type="submit" class="logout-button">
                    <img class="nav-profile" src="/Icons/user-circle.svg" alt="profile icon">
                </button>
            </form>
        </div>
    </nav>

    <div class="content-container">
        <div class="side-menu">
            <div class="side-option">
                <p class="side-option side-menu-heading">
                    Menu
                </p>
            </div>
            <div class="side-option menu-option">
                <a th:href="@{/admin/{id}/all-unreviewed(id=${userID})}" class="side-option">
                    <p class="admin-active">Unreviewed Cards</p>
                </a>
            </div>
            <div class="side-option menu-option">
                <a th:href="@{/admin/{id}/accounts(id=${userID})}" class="side-option">
                    <p class="side-menu-text">Accounts</p>
                </a>
            </div>
        </div>

        <div class="view-card-content">
            <div class="admin-tools">
                <form th:action="@{/admin/flag}" method="POST" class="side-menu-icon">
                    <input type="hidden" name="id" th:value="${card.cardID}" />
                    <input type="hidden" name="userID" th:value="${userID}" />
                        <button type="submit">
                            <img class="side-menu-icons" src="/Icons/flag.svg" alt="Flag Icon">
                        </button>
                </form>
                <form th:action="@{/admin/delete}" method="POST">
                    <input type="hidden" name="id" th:value="${card.cardID}" />
                    <input type="hidden" name="userID" th:value="${userID}" />
                    <button type="submit"><img class="side-menu-icons" src="/Icons/trash.svg" alt="Trash Icon"></button>                   
                </form>
                <form th:action="@{/admin/review}" method="POST">
                    <input type="hidden" name="id" th:value="${card.cardID}" />
                    <input type="hidden" name="userID" th:value="${userID}" />
                    <button type="submit">
                        <img class="side-menu-icons" src="/Icons/check-square.svg" alt="Review Icon">
                    </button>
                </form>
            </div>
            <div class="content-card">
                <div class="content-image">
                    <img class="poster-image" th:src="@{'/content-images/' + ${card.imagePath}}" alt="Card Image">
                </div>
                <div class="content-genres">
                    <p class="content-card-header">
                        Title
                    </p>
                    <p class="content-card-text" th:text="${card.title}"></p>
                </div>
                <div class="content-reviews">
                    <p class="content-card-header">
                        Genres
                    </p>
                    <p class="content-card-text" th:text="${card.genres}"></p>
                </div>
                <div class="content-length">
                    <p class="content-card-header">
                        Reviews
                    </p>
                    <p class="content-card-text" th:text="${card.reviews}"></p>
                </div>
                <div class="content-synopsis">
                    <p class="content-card-header">
                        Synopsis
                    </p>
                    <p class="content-card-text" th:text="${card.synopsis}"></p>
                </div>
            </div>

            <div class="exit">
                <a th:href="@{/admin/{id}/all-unreviewed(id=${userID})}" class="exit-button">
                    <img class="side-menu-icons" src="/Icons/times.svg" alt="Exit Icon">
                </a>
            </div>

        </div>
    
    </div>

</body>
</html>
