<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>DyVert</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    
    <style>
        .button-container {
            display: inline-block;
        }

        .button-container form {
            display: inline;
        }
    </style>
    
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-brand roboto-mono-nav-brand">
            <a class="navbar-brand" href="#">DyVert</a>
        </div>
        <div class="nav-links roboto-mono-nav-links">
            <ul class="links">
                <li><a th:href="@{/user/{id}/home/all(id=${userID})}">Home</a></li>
                <li>
                    <a th:href="@{/user/{id}/bucket(id=${userID})}">Bucket</a>
                </li>
                <li><a th:href="@{/creator/{id}/create(id=${userID})}">Creator</a></li>
                <li><a href="#" class="link-active">Admin</a></li> 
            </ul>
        </div>

        <div class="nav-profile-container">
            <form id="logout-form" action="/logout" method="post">
                <button type="submit" class="logout-button">
                    <img class="nav-profile" src="/Icons/user-circle.svg" alt="profile icon">
                </button>
            </form>
        </div>
    </nav>

    <div class="content-container">
        <div class="side-menu">
            <div class="side-option">
                <p class="side-option side-menu-heading">
                    Menu
                </p>
            </div>
            <div class="side-option menu-option">
                <a href="#" class="side-option">
                    <p class="admin-active">Unreviewed Cards</p>
                </a>
            </div>
            <div class="side-option menu-option">
                <a th:href="@{/admin/{id}/accounts(id=${userID})}" class="side-option">
                    <p class="side-menu-text">Accounts</p>
                </a>
            </div>
        </div>

        <div class="table-container">
            <table class="bucket-table content-card-text">
                <thead>
                    <tr>
                        <th>Card ID</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>User ID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="card : ${unreviewedCardList}">
                        <td th:text="${card.cardID}"></td>
                        <td th:text="${card.title}"></td>
                        <td th:text="${card.type}"></td>
                        <td th:text="${card.userID}"></td>
                        <td>
                            <div class="button-container">
                                <a th:href="@{/admin/{userID}/card/{id}(userID=${userID},id=${card.cardID})}">
                                    <img src="/Icons/eye.svg" class="table-icon" alt="View Icon">
                                </a>

                                <form th:action="@{/admin/delete}" method="POST">
                                    <input type="hidden" name="id" th:value="${card.cardID}" />
                                    <input type="hidden" name="userID" th:value="${userID}" />
                                    <button type="submit" class="button-reset"><img class="table-icon" src="/Icons/trash.svg" alt="Trash Icon"></button>                   
                                </form>
                                <form th:action="@{/admin/flag}" method="POST">
                                    <input type="hidden" name="id" th:value="${card.cardID}" />
                                    <input type="hidden" name="userID" th:value="${userID}" />
                                    <button type="submit" class="button-reset"><img class="table-icon" src="/Icons/flag.svg" alt="Flag Icon"></button>                   
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>