<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>DyVert</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-brand roboto-mono-nav-brand">
            <a class="navbar-brand" href="#">DyVert</a>
        </div>
        <div class="nav-links roboto-mono-nav-links">
            <ul class="links">
                <li>
                    <a th:href="@{/user/{id}/home/all(id=${user.accountID})}">Home</a>
                </li>
                <li>
                    <a href="#" class="link-active">Bucket</a>
                </li>
                <li>
                    <a th:href="@{/creator/{id}/create(id=${user.accountID})}">Creator</a>
                </li>
                <li>
                    <a th:href="@{/admin/{id}/all-unreviewed(id=${user.accountID})}">Admin</a>
                </li>
            </ul>
        </div>
        <!-- Profile button container -->
        <div class="nav-profile-container">
            <a href="./login.html" class="nav-profile-container">
                <img class="nav-profile" src="/Icons/user-circle.svg" alt="profile icon">
            </a>
        </div>
    </nav>

    <div class="content-container">
        <div class="side-menu">
            <div class="movie-side side-option">
                <a href="#" class="side-option">
                    <img class="side-menu-icons" src="/Icons/film.svg" alt="film icon">
                    <p class="side-menu-text">Movies</p>
                </a>
            </div>
            <div class="book-side side-option">
                <a href="#" class="side-option">
                    <img class="side-menu-icons" src="/Icons/book.svg" alt="book icon">
                    <p class="side-menu-text">Books</p>
                </a>
            </div>
            <div class="show-side side-option">
                <a href="#" class="side-option">
                    <img class="side-menu-icons" src="/Icons/television.svg" alt="TV icon">
                    <p class="side-menu-text">Shows</p>
                </a>
            </div>
            <div class="undo-side side-option">
                <a href="#" class="side-option">
                    <img class="side-menu-icons" src="/Icons/undo.svg" alt="undo icon">
                    <p class="side-menu-text">Undo</p>
                </a>
            </div>
            <div class="genres-side side-option">
                <a href="#" class="side-option">
                    <img class="side-menu-icons" src="/Icons/bars.svg" alt="Bar menu">
                    <p class="side-menu-text">All Items</p>
                </a>
            </div>
        </div>

        <div class="view-card-content">
            <div class="content-card">
                <div class="content-image">
                    <img class="poster-image" th:src="@{'/content-images/' + ${card.imagePath}}" alt="Card Image">
                </div>
                <div class="content-genres">
                    <p class="content-card-header">
                        Title
                    </p>
                    <p class="content-card-text" th:text="${card.title}"></p>
                </div>
                <div class="content-reviews">
                    <p class="content-card-header">
                        Genres
                    </p>
                    <p class="content-card-text" th:text="${card.genres}"></p>
                </div>
                <div class="content-length">
                    <p class="content-card-header">
                        Reviews
                    </p>
                    <p class="content-card-text" th:text="${card.reviews}"></p>
                </div>
                <div class="content-synopsis">
                    <p class="content-card-header">
                        Synopsis
                    </p>
                    <p class="content-card-text" th:text="${card.synopsis}"></p>
                </div>
            </div>

            <div class="exit">
                <a th:href="@{/user/{id}/bucket(id=${user.accountID})}" class="exit-button">
                    <img class="side-menu-icons" src="/Icons/times.svg" alt="Exit Icon">
                </a>
            </div>

        </div>
    
    </div>

</body>